#header-user.ant-layout-header.header--no-padding {
  padding: 0;
}

#header-user.ant-layout-header.header--auto-height {
    height: auto;
}

#header-user.ant-layout-header.header--background-white {
    background-color: #fff;
}

#menu-user .ant-menu-item a{
    color: #fff ;
}

#menu-user{
    display: flex;
    justify-content: center;
    background-color: #0c7ce6;
    color: #fff;

}

#menu-user .ant-menu-submenu-title:hover{
    color: #fff ;
}
#menu-user .ant-menu-title-content {
    transition: none;
}

#menu-user 
.ant-menu-item-selected::after{
    transition: none;
}

#menu-user 
.ant-menu-item-selected::after,
#menu-user 
.ant-menu-submenu-open::after {
    border-bottom: none;
}

#menu-user 
.ant-menu-item-selected:hover::after,
#menu-user
.ant-menu-item-active:hover::after{
    border-bottom: 2px solid #fff;

}

#container-image-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: #0c7ce6;
}

#logo{
    width: 100px;
}