.logo {
    height: 32px;
    margin: 16px;
    color: #fff;
    font-size: 1.2rem;
}



.ant-layout.ant-layout-has-sider {
    /* position: relative; */
    min-height: 100vh;
}

.site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }

.ant-spin-container::after{
    z-index: 1010 !important;
}