#user-layout{
    position: relative;
    min-height: 100vh;
    padding-bottom: 27rem;
}

#user-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
#user-content{
    background-color: #fff;
    padding: 1rem 2rem;
}